<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="customerDAO" class="cn.carrent.dao.impl.CustomerDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="customerService" class="cn.carrent.service.impl.CustomerServiceImpl">
		<property name="customerDAO">
			<ref bean="customerDAO" />
		</property>
	</bean>
	
	<bean id="customerManageAction" class="cn.carrent.action.CustomerManageAction"
		scope="prototype">
		<property name="customerService">
			<ref bean="customerService" />
		</property>
	</bean>
</beans>